<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Галерея</title>
    <link rel="stylesheet" href="style.css">
        <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

    <header>

      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2" focusable="false" aria-hidden="true"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Галерея</strong>
          </a>
        </div>
      </div>
    </header>
     
    <main role="main">
    
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Урок 3. Галерея</h1>
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Загрузить изображение
        </button>
        </div>
      </section> 
      <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
              {% for thumbnail in thumbnails %}
              <div class="col-md-4 col-sm-2 col-xl-4">
                <div class="card mb-4 shadow-sm">
                  <a href="show.php?img={{ thumbnail.id }}" >
                    <img class="card-img-top" src="img/small/sm_{{ thumbnail.name }}" alt="">
                  </a>
                  <div class="card-body">
                    <p class="card-text">{{ thumbnail.name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="show.php?img={{ thumbnail.id }}">Подробнее</a>
                      </div>
                      <small class="text-muted">Просмотров: <b>{{ thumbnail.views }}</b></small>
                    </div>
                  </div>
                </div>
              </div>
        {% endfor %} 
            </div>   
          </div>
        </div>
      </div>    
    </main>
    
    <footer class="text-muted">
    </footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Загрузка изображения</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form enctype="multipart/form-data" action="index.php" method="POST">
            <div class="form-group">
                <label for="file">Выберите изображение для загрузки</label>
                <input name="img" id="file" class="form-control-file" type="file" required>
                <small class="form-text text-muted">{{ message }}</small>
            </div>
            <div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>