<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Галерея - {{ img.name }}</title>
    <link rel="stylesheet" href="style.css">
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>
<body>
  <div class="container">
    <div class="row">
      <a href="index.php">Назад</a>
<figure class="img">
    <p><img src="{{ img.path }}{{ img.name }}" alt="{{ img.name }}" /></p>
    <figcaption>
        Название: <b>{{ img.name }}</b><br>
        Просмотры: <b>{{ img.views }}</b>
    </figcaption>
</figure>
    </div>
  </div>


</body>
</html>